body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#d4f8e4 ;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid rgb(219, 219, 219);
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #B0EBB4;
    color: rgb(0, 0, 0);
    border-color: white;
}

.present {
    background-color: #fdff77;
    color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}

.absent {
    background-color: #bee0cd;
    color: rgb(0, 0, 0);
    border-color:white;
}


.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(134, 134, 134);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #f8b7b7;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}