/* Fonts */
/* TItulos */
@font-face{
  font-family: 'Madimi_One';
  src: url(/FONTS/Madimi_One/MadimiOne-Regular.ttf);
}


/* Parrafos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif;  */

body {
  background-color: #D9EDBF;
  overflow: hidden;
}

h1 {
  position: absolute;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  left: 50%;
  top: 58%;
  margin-left: -20px;
}

/* CARGA PREVIA */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6AD4DD;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease; 
}

#content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#content.show {
    display: block;
    opacity: 1;
}

/* CARGA PREVIA */

/* ANIMACION */

.body1 {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  animation: speeder .4s linear infinite;

  > span {
    height: 5px;
    width: 35px;
    background: #000;
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0;
  }
}

.base {
  span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid #000;
    border-bottom: 6px solid transparent;

    &:before {
      content: "";
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background: #000;
      position: absolute;
      right: -110px;
      top: -16px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-right: 55px solid #000;
      border-bottom: 16px solid transparent;
      top: -16px;
      right: -98px;
    }
  }
}

.face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: #000;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;

  &:after {
    content: "";
    height: 12px;
    width: 12px;
    background: #000;
    right: 4px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px;
  }
}

.body1 > span > span:nth-child(1),
.body1 > span > span:nth-child(2),
.body1 > span > span:nth-child(3),
.body1 > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  animation: fazer1 .2s linear infinite;
}

.body1 > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 .4s linear infinite;
}

.body1 > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 .4s linear infinite;
  animation-delay: -1s;
}

.body1 > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;

  span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: #000;

    &:nth-child(1) {
      top: 20%;
      animation: lf .6s linear infinite;
      animation-delay: -5s;
    }

    &:nth-child(2) {
      top: 40%;
      animation: lf2 .8s linear infinite;
      animation-delay: -1s;
    }

    &:nth-child(3) {
      top: 60%;
      animation: lf3 .6s linear infinite;
    }

    &:nth-child(4) {
      top: 80%;
      animation: lf4 .5s linear infinite;
      animation-delay: -3s;
    }
  }
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

/* ANIMACION */

/* CONTENIDO */

.container{
    width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    top: 20vh;
    left: 58vh;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 10px 35px 15px rgba(0, 0, 0, .3);
}

.container-form{
    width: 100%;
    overflow: hidden;
}

.container-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease-in;
}

.container-form h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Madimi_One';
}

.social-networks{
    font-size: 18px;
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.social-networks i{
    border: 1px solid #C9CCCB;
    font-size: 18px;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
  
}

.container-form span{
    font-size: 12px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif; 
}

.container-input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    padding: 0 15px;
    background-color: #EEEEEE;
    font-family: "Montserrat", sans-serif; 
}

.container-input input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.container-form .link{
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: "Montserrat"; 
}

.button{
    width: 170px;
    height: 45px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;  
    margin-top: 10px;
    background-color: #D9EDBF;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: 'Madimi_One';
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 15px 2px rgba(0, 0, 0, .3);
}

/*Animacion */

.sign-up{
    transform: translateX(-100%);
}

.container.toggle .sign-in{
    transform: translateX(100%);
}

.container.toggle .sign-up{
    transform: translateX(0);
}

/*  Welcome   */

.container-welcome{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #D9EDBF;
    transition: transform .5s ease-in-out, border-raidus .5s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
    font-family: "Montserrat", sans-serif; 
}

.container.toggle .container-welcome{
    transform: translateX(0);
    border-radius: 0 50% 50% 0;
    background-color: D9EDBF;
}

.container-welcome .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 110px;
    color: black;
    transition: transform .5s ease-in-out;
}

.welcome-sign-in{
    transform: translateX(100%);
}

.container-welcome h3{
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Madimi_One';
}

.container-welcome p{
    font-size: 14px;
    text-align: center;
    font-family: "Montserrat", sans-serif; 
}

.container-welcome .button{
  border: none;
}

.container.toggle .welcome-sign-in{
    transform: translateX(0);
}
.container.toggle .welcome-sign-up{
    transform: translateX(-100%);
}

/* CONTENIDO */

